<table class="table">
  <thead>
    <tr>
      <th>Policy</th>
      <th>Severity</th>
      <th>Audit</th>
    </tr>
  </thead>
  <tbody>
    {% for result in assessment.results|sort((a, b) => a.severityCode <=> b.severityCode) %}
    {% if result.hasWarning or result.hasError or not result.isSuccessful and not result.notApplicable %}
    <tr class="{% if result.isNotice %}{% elseif result.isSuccessful %}has-success{% elseif result.hasWarning %}has-warning{% else %}has-error{% endif %}">
      <th><a href="#{{ result.policy.name }}">{{ result.policy.title }}</a></th>
      <td>{{ result.severity }}</td>
      <td class="control-label">{{ result.type|split('-')|join(' ') }}</td>
      </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
