
<div class="row result-group">
  <div class="col-sm-12 col-md-10">
    <h4 id="{{ result.id }}">{{ result.title }}</h4>
    <p>{{ result.description | markdown_to_html }}</p>
    <div class="panel panel-info">
      <div class="panel-body">
        {{ result.success | markdown_to_html }}
      </div>
    </div>
  </div>
</div>
