<div class="row result-group py-3">
  <div class="col">

    <h3 id="{{ audit_response.policy.name }}">{{ audit_response.policy.title }}</h3>
    {{ include(template_from_string(audit_response.policy.description | mustache2twig, "description field on data.html.twig" )) | markdown_to_html }}
    <div class="alert alert-secondary py-1 px-2">
      <p class="mb-0">
        {% with audit_response.tokens %}
        {{ include(template_from_string(audit_response.policy.success | mustache2twig, "success field on data.html.twig")) | markdown_to_html }}
        {% endwith %}
      </p>
    </div> <!-- /alert -->

  </div> <!-- /col -->
</div> <!-- /row -->
