
<div class="row result-group">
  <div class="col-sm-12 col-md-10">
    <h4 id="{{ audit_response.id }}">{{ audit_response.policy.title }}</h4>
    {{ include(template_from_string(audit_response.policy.description | mustache2twig)) | markdown_to_html }}
    <div class="panel panel-info">
      <div class="panel-body">
        {{ audit_response.success | markdown_to_html }}
      </div>
    </div>
  </div>
</div>
