<style>

  .page-header {
    border-bottom: none;
  }
  .chart {
    float:left;
  }
  .assessement-uri {
    font-size: x-large;
  }
  ul.toc-list {
    font-size: 1rem;
  }
  ul.toc-list ul {
    font-size: 0.875rem;
  }
  .toc-list .toc-list-item {
    list-style: none;
  }
  .toc-link::before {
    width: 4px;
  }
  ul.is-collapsed {
    display: none;
  }
  .card-text p {
    margin-bottom: 0;
  }
  .card-text tr.table-active {
    background-color: #FFF;
  }
  .card-text .table-active th {
    background-color: #FFF;
    border-top: none;
  }
  .card-text .table td {
    padding: 0.325rem;
  }
  @page
  {
      size: auto;   /* auto is the initial value */

      /* this affects the margin in the printer settings */
      margin: 25mm 15mm 5mm 15mm;
  }
  @media print {
    .result-group, section {
      page-break-inside: avoid;
    }
    .display-filters {
      display: none !important;
    }
    html body {
      margin:0;
      padding:0;
      font-size: 10pt;
      margin-bottom:10mm;
    }
    a[href^="/"]:after {
    	content: " (" attr(href) ") ";
    }
    .sidebar {
      display:none;
    }
  }
</style>
