<style>
  .page-header {
    border-bottom: none;
  }
  .assessement-uri {
    font-size: x-large;
  }
  ul.toc-list {
    font-size: 1rem;
  }
  ul.toc-list ul {
    font-size: 0.875rem;
  }
  .toc-list .toc-list-item {
    list-style: none;
  }
  .toc-link::before {
    width: 4px;
  }
  .toc-toggle {
    margin-right: -25px;
    font-size: medium;
  }
  .toc-toggle-open {
    display:none;
  }
  ul.is-collapsed {
    display: none;
  }
  .table th {
    padding: 0.50rem;
  }
  .table td {
    padding: 0.25rem 0.50rem;
  }
  .card-body {
    overflow: scroll;
  }
  .card-body .table-active {
    background-color: #FFF;
    border-top: none;
  }
  .card-body .table td {
    padding: 0.325rem;
  }
  .assessment-card {
    border-left-width: .625rem;
  }
  .assessment-card .badge {
    position: absolute;
    right: 0;
    font-size: small;
    border-radius: 0.15rem
  }
  .assessment-card p {
    margin-bottom: 0;
  }
  .alert p {
    margin-bottom: 0;
  }
  .alert {
    display: flex;
    flex-direction: row;
  }
  .alert .fa {
      margin-right: 8px;
      align-self: center;
  }

  @page
  {
      size: auto;   /* auto is the initial value */

      /* this affects the margin in the printer settings */
      margin: 25mm 15mm 5mm 15mm;
  }
  @media print {
    .result-group, section {
      page-break-inside: avoid;
    }
    .display-filters {
      display: none !important;
    }
    html body {
      margin:0;
      padding:0;
      font-size: 10pt;
      margin-bottom:10mm;
    }
    a[href^="/"]:after {
    	content: " (" attr(href) ") ";
    }
    .sidebar {
      display:none;
    }
  }
</style>
